body {
  background: grey;
  font-family: Gill Sans MT;
}

#welcome-title {
  background: white;
  padding: 20px;
  border-style: solid;
  border-color: #313131;
}

#query-section {
  background:#efefef;
  height:100%;
  margin:50px;
  padding:50px;
}


#board-select {
  width: 30%;
  margin: 10px;
}

#query-box {
  margin-bottom:10px;
}

button {
  color:#050; 
  background-color:#fed; 
  border:1px solid; 
  margin:5px;
}

input {
  margin:5px;
}

button {
  border: 2px solid #0a3c59;
  background: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
  background: -webkit-linear-gradient(top, #ffffff, #ffffff);
  background: -moz-linear-gradient(top, #ffffff, #ffffff);
  background: -ms-linear-gradient(top, #ffffff, #ffffff);
  background: -o-linear-gradient(top, #ffffff, #ffffff);
  background-image: -ms-linear-gradient(top, #ffffff 0%, #ffffff 100%);
  padding:auto;
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
  border-radius: 17px;
  -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
  -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
  box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
  text-shadow: #7ea4bd 0 1px 0;
  color: #000000;
  font-size: 15px;
  font-family: helvetica, serif;
  text-decoration: none;
  vertical-align: middle;
}

button:hover {
  border: 2px solid #0a3c59;
  text-shadow: #1e4158 0 1px 0;
  background: #5c5c5c;
  background: -webkit-gradient(linear, left top, left bottom, from(#6b6b6b), to(#5c5c5c));
  background: -webkit-linear-gradient(top, #6b6b6b, #5c5c5c);
  background: -moz-linear-gradient(top, #6b6b6b, #5c5c5c);
  background: -ms-linear-gradient(top, #6b6b6b, #5c5c5c);
  background: -o-linear-gradient(top, #6b6b6b, #5c5c5c);
  background-image: -ms-linear-gradient(top, #6b6b6b 0%, #5c5c5c 100%);
  color: #fff;
}

button:active {
  text-shadow: #1e4158 0 1px 0;
  border: 2px solid #0a3c59;
  background: #616161;
  background: -webkit-gradient(linear, left top, left bottom, from(#696969), to(#5c5c5c));
  background: -webkit-linear-gradient(top, #696969, #616161);
  background: -moz-linear-gradient(top, #696969, #616161);
  background: -ms-linear-gradient(top, #696969, #616161);
  background: -o-linear-gradient(top, #696969, #616161);
  background-image: -ms-linear-gradient(top, #696969 0%, #616161 100%);
  color: #fff;
}

.footer {
  width: 100%;
  height: 25px;
  position: fixed;
  bottom: 0px;
  color: white;
  background-color: #313131;
  text-align: center
}
@media only screen 
and (max-device-width : 425px) {
  head {
    font-size:50px;
  }
   
  body {
    font-size: 35px;
  } 

  #welcome-title {
    text-align: center;
    font-size: 50px;
  }

  #find-text {
    font-size: 35px;
  }

  #board-select {
    width: 100%;
    font-size: 25px;
  }

  button {
    font-size: 25px;
    margin: 10px;
  }
  
  .footer {
    width: 100%;
    height: 55px;
    position: fixed;
    bottom: 0px;
    color: white;
    background-color: #313131;
    text-align: center
  }
}
